= render(:partial => "shared/admin_box.html.haml", :locals => {:annotation_count_array => @annotation_count_array, :geo_item => @sample , :top_tags => @top_tags, :all_tags => @all_tags})
= render(:partial => "shared/show_page_title", :locals => {:title => "Sample", :geo_accession => @sample.geo_accession})
== Series: #{link_to(@sample.series_item.geo_accession, series_item_url(@sample.series_item))}
%br
== Platform: #{link_to(@sample.platform.geo_accession, platform_url(@sample.series_item.platform))}
%br
%br
= link_to('Back', samples_url)
%br
%br
= render(:partial => "shared/cytoscape.html.haml", :locals => {:item => @sample}) if current_user && current_user.show_cytoscape?
#annotations-table
  = render(:partial => "shared/annotations_table", :locals => {:item => @sample})
