= render(:partial => "shared/show_page_title", :locals => {:title => "Platform", :geo_accession => @platform.geo_accession})
= link_to('Back', platforms_url)
%br
%br
= render(:partial => "shared/children", :locals => {:title => "Series", :items => @platform.series_items})
= render(:partial => "shared/children", :locals => {:title => "Samples", :items => @platform.samples})
= render(:partial => "shared/annotations_table", :locals => {:item => @platform})
