= partial("shared/show_page_title", :title => "Series", :geo_accession => @series_item.geo_accession)
== Platform: #{link_to(@series_item.platform_geo_accession, resource(@series_item.platform))}
%br
-if !@series_item.pubmed_id.blank?
  == PubMed: #{pubmed_link(@series_item.pubmed_id)}
  %br
  %br
= link_to('Back', resource(:series_items))
%br
%br
= partial("shared/children", :title => "Samples", :items => @series_item.samples)
= partial("shared/annotations_table", :item => @series_item)
