= render(:partial => "shared/show_page_title", :locals => {:title => "Dataset", :geo_accession => @dataset.geo_accession})
= link_to('Back', datasets_url)
%br
%br
= render(:partial => "shared/children", :locals => {:title => "Platform", :items => [@dataset.platform]}) if @dataset.platform
= render(:partial => "shared/children", :locals => {:title => "Series", :items => [@dataset.series_item]}) if @dataset.series_item
#annotations-table
  = render(:partial => "shared/annotations_table", :locals => {:item => @dataset})
