= page_title("Resend unlock instructions")
= devise_error_messages!
.form-box
  = simple_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f|
    = f.input(:email, :as => :email)
    = f.button(:submit, "Resend unlock instructions")
  = render(:partial => "devise/shared/links")
