%tr
  %td
    == #{geo_item} : #{field_name} : #{hash[geo_item][:field_names][field_name][:ontology_ids][ontology][:name]}
  %td
    = hash[geo_item][:field_names][field_name][:ontology_ids][ontology][:count]
  %td
    = hash[geo_item][:field_names][field_name][:ontology_ids][ontology][:annotator_average_time]
  %td
    = hash[geo_item][:field_names][field_name][:ontology_ids][ontology][:average_time]
