- title t(".title")
= page_title(t('.title'))
%br
%p
  = link_to(t('.dashboard_link'), dashboard_jobs_url)
%p
  = link_to(t('.new_link'), new_job_url)
%p
  %form{:name => "sform", :action => "", :style => "display:inline"}
    %label
      Filter on status:
    = job_status_dropdown(@status)

.dataTable
  = render(:partial => "jobs_list")
