- title t('.title')
= page_title(t('.title'))
%br
= simple_form_for(@job) do |f|
  = error_messages_for(@job)
  = render(:partial => "jobs/form.html.haml", :object => f)
  = f.submit(t('label.save'))
  = f.submit(t('label.cancel'))
