- title t('.title')
= page_title("Edit Account Information")
.user-form
  - semantic_form_for @user, :url => account_path do |f|
    = f.error_messages
    = render(:partial => "users/form", :object => f)
    - f.buttons do
      = f.commit_button t('label.update')
  %br
  = link_to t('link.user'), account_path
