- title t(".title")
= page_title(t('.title'))
%table
  %tr
    %th= t('label.signin')
    %th{ :colspan => "3" }
  - @users.each do |user|
    %tr
      %td= h user.email
      %td= link_to t('link.show'), user
      %td= link_to t('link.edit'), edit_user_path(user)
      %td= link_to t('link.destroy'), user, :confirm => t('confirm.destroy'), :method => :delete
%br
= link_to t('link.new_user'), new_user_path
