- title t('.title')
= page_title(t('.title'))
%br
= link_to t('link.signin'), signin_path
%br
.user-form
  - semantic_form_for(@user, :url => account_path) do |f|
    = f.error_messages
    = render(:partial => "users/form", :object => f)
    - f.buttons do
      = f.commit_button t('label.signup')
