- title t('.title')
= page_title(t('.title'))
.form-box
  - if me?(@user)
    %br
    == Email: #{@user.email}
    %br
    = link_to("edit", edit_user_registration_url)
%h2
  Annotations curated
%table{ :cellspacing => "2", :border => "0", :width => "100%", :cellpadding => "0"}
  %thead
    %tr.row-header
      %td{ :width => "50%" }
        Last 24 Hours
      %td{ :width => "50%" }
        All time
  %tbody.dataTable
    %tr
      %td{ :width => "50%" }
        = @user.curated_annotations.daily.audited.size
      %td{ :width => "50%" }
        = @user.curated_annotations.audited.size
%h2
  Annotations created
%table{ :cellspacing => "2", :border => "0", :width => "100%", :cellpadding => "0"}
  %thead
    %tr.row-header
      %td{ :width => "50%" }
        Last 24 Hours
      %td{ :width => "50%" }
        All time
  %tbody.dataTable
    %tr
      %td{ :width => "50%" }
        = @user.created_annotations.daily.audited.size
      %td{ :width => "50%" }
        = @user.created_annotations.audited.size
