#navigation
  = link_to("Home", "/")
  #user
    = signin_signout
  %h2
    Views
  %ul
    %li
      = link_to("Platforms", platforms_url)
    %li
      = link_to("Samples", samples_url)
    %li
      = link_to("Series", series_items_url)
    %li
      = link_to("Datasets", datasets_url)
    %li
      = link_to("Annotations", annotations_url)
    - admin_only do
      %li
        = link_to("Annotations - Audit", audit_annotations_url)
    %li
      = link_to("Annotation Cloud", cloud_annotations_url)
    %li
      = link_to("Ontologies", ontologies_url)
    %li
      = link_to("Ontology Terms", ontology_terms_url)
    %li
      = link_to("Results", results_url)
%div
