%tr{:class => "#{cycle('rowWhite', 'rowBlue')}"}
  %td{:valign => "top"}
    = link_to(highlight(ontology_term.name, @q), ontology_term_url(ontology_term))
    = ncbo_ontology_link(ontology_term)
  %td{:valign => "top"}
    = is_closure(ontology_term.annotations_count)
  %td{:valign => "top"}
    = link_to(ontology_term.ontology.name, ontology_url(ontology_term.ontology))
