= page_title("Ontology term: #{@ontology_term.name} (#{@ontology_term.specific_term_id})")
%br
%p
  == Ontology: #{link_to(@ontology_term.ontology.name, ontology_url(@ontology_term.ontology))}
= link_to('Back', ontology_terms_url)
%br
%br
= render(:partial => "references.html.haml", :locals => {:title => "Parent closures", :terms => @parent_closures}) if @parent_closures.any?
= render(:partial => "references.html.haml", :locals => {:title => "Child closures", :terms => @child_closures}) if @child_closures.any?
= render(:partial => "geo_counts.html.haml", :locals => {:geo_counts => @geo_counts}) if @geo_counts.any?
.dataTable{:atype => 'direct'}
  = render(:partial => "annotations.html.haml", :locals => {:annotation_type => "direct", :annotation_count => @direct_geo.total_entries, :items => @direct_geo})
.dataTable{:atype => 'closure'}
  = render(:partial => "annotations.html.haml", :locals => {:annotation_type => "closure", :annotation_count => @closure_geo.total_entries, :items => @closure_geo})
