!!! XML
%ontology_term
  %name= @ontology_term.name
  %ontology_name= @ontology_term.ontology.name
  %ncbo_ontology_id= @ontology_term.ontology.ncbo_id
  %ncbo_term_id= @ontology_term.term_id
  %ontology_term_id= @ontology_term.term_id.split("|").last
  %annotations
    = render(:partial => "ontology_terms/annotation.xml.haml", :collection => @direct_geo, :locals => {:source => 'direct'})
    = render(:partial => "ontology_terms/annotation.xml.haml", :collection => @closure_geo, :locals => {:source => 'closure'})
