= page_title("Ontology term: #{@ontology_term.name}")
%br
= link_to('Back', resource(:ontology_terms))
%br
%br
= partial("references", :title => "Parent closures", :terms => @parent_closures) if @parent_closures.any?
= partial("references", :title => "Child closures", :terms => @child_closures) if @child_closures.any?
= partial("annotations", :annotation_type => "direct", :annotation_count => @ontology_term.annotations.size, :items => @direct_geo)
= partial("annotations", :annotation_type => "closure", :annotation_count => @ontology_term.annotation_closures.size, :items => @closure_geo)
