= page_title("Ontology term: #{@ontology_term.name}")
%br
= link_to('Back', ontology_terms_url)
%br
%br
= render(:partial => "references", :locals => {:title => "Parent closures", :terms => @parent_closures}) if @parent_closures.any?
= render(:partial => "references", :locals => {:title => "Child closures", :terms => @child_closures}) if @child_closures.any?
= render(:partial => "annotations", :locals => {:annotation_type => "direct", :annotation_count => @ontology_term.annotations.size, :items => @direct_geo})
= render(:partial => "annotations", :locals => {:annotation_type => "closure", :annotation_count => @ontology_term.annotation_closures.size, :items => @closure_geo})
