- form.inputs do
  = form.input :name
  = form.input :current_ncbo_id, :label => "Current NCBO ID"
  = form.input :ncbo_id, :label => "Virtual NCBO ID"
  = form.input :version
  = form.input :stopwords
