%tr{:class => "#{cycle('rowWhite', 'rowBlue')}"}
  %td{:valign => "top", :width => "40%"}
    = link_to(term.name, ontology_term_url(term))
    = ncbo_ontology_link(term)
  %td{:valign => "top"}
    = is_closure(term.annotations_count)
  - admin_only do
    %td{:valign => "top"}
      = annotation_percentage(term.annotations_count, term.valid_annotation_percentage)
    %td{:valign => "top"}
      = annotation_percentage(term.annotations_count, term.audited_annotation_percentage)
      - if (term.annotations_count > 0) && (term.audited_annotation_percentage < 100)
        %br
        = link_to("Audit", audit_annotations_url(:query => term.name, :status => "Unaudited", :ddown => term.ontology.ncbo_id))