- title t('.title')
= page_title(t('.title'))
- semantic_form_for(@ontology) do |f|
  = f.error_messages
  = render(:partial => "ontologies/form", :object => f)
  - f.buttons do
    = f.commit_button t('label.update')
    = f.commit_button t('label.cancel')
