- title t('.title')
= page_title(t('.title'))
= simple_form_for(@ontology) do |f|
  = error_messages_for(@ontology)
  = render(:partial => "ontologies/form", :object => f)
  = f.submit(t('label.update'))
  = f.submit(t('label.cancel'))
