%tr{:class => "#{cycle('rowWhite', 'rowBlue')}"}
  %td{:valign => "top"}
    = geo_link(annotation.geo_accession)
  %td{:valign => "top"}
    - if admin_user?
      = curate_link(annotation)
      = ncbo_ontology_link(annotation.ontology_term)
    - else
      = link_to(highlight(annotation.ontology_term.name, @q), ontology_term_url(annotation.ontology_term))
      = ncbo_ontology_link(annotation.ontology_term)
  %td{:valign => "top"}
    = annotation.in_context
