.cloud-box{:class => "#{terms.any? ? '' : 'faded'}"}
  .cloud-box-title
    = title
  %br
  .cloud-box-content
    %ol.tag-cloud
      - term_cloud(terms, Constants::TAG_CLASSES) do |term, css_class|
        %li
          = link_to(term.name, "##{term.name}", :class => "result-term #{css_class}", :term_id => term.term_id, :title => "#{pluralize(term.annotations_count, 'GEO record')} for term")
