= page_title("Annotations via Cloud")
#term-parameters
//  == #{check_box_tag(:invalid, @invalid)} Include invalid
#terms
  = render(:partial => "cloud", :locals => {:title => "Anatomy terms", :terms => @anatomy_terms})
#strains
  = render(:partial => "cloud", :locals => {:title => "Rat Strains", :terms => @rat_strain_terms})
%br{:clear => "all"}
#filters
#annotations
  = render(:partial => "annotations")
