- admin_only do
  = render(:partial => "shared/annotation_counts")
= page_title("Annotations")
%p
  %form{:name => "sform", :action => "", :style => "display:inline"}
    = ontology_search_dropdown(@current)
    %label
      Filter on term:
    = text_field_tag(:query, params['query'], :autocomplete => 'off') 

#dataTable
  = render(:partial => "annotations_list")
