= partial("shared/annotation_counts")
= page_title("Annotations")
%p
  %form{:name => "sform", :action => "", :style => "display:inline"}
    = ontology_search_dropdown(@current)
    = text_field(:name => :query, :label => "Filter on term: ", :value => params['query'],  :autocomplete => "off")
#dataTable
  = partial("annotations_list")
