= render(:partial => "shared/admin_box.html.haml", :locals => {:annotation_count_array => @annotation_count_array})
= page_title("Annotations")
%p
  %form{:name => "sform", :action => "", :style => "display:inline"}
  %table.filter-menu
    %tr
      %td{:align => 'right'}
        %label
          Filter on term:
      %td
        = text_field_tag(:query, params['query'], :autocomplete => 'off')
      %td{:align => 'right'}
        %label
          Ontology:
      %td
        = ontology_search_dropdown(@current)
      %td{:align => 'right'}
        %label
        GEO item type:
      %td
        = annotation_geotype_dropdown(@geotype)

.dataTable
  = render(:partial => "annotations_list.html.haml")
