!!!
%html.no-js{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    = csrf_meta_tag
    %meta{ :content => "text/html; charset=iso-8859-1", "http-equiv" => "Content-Type" }
    %title
      = h(yield(:title) || "GMiner")
    = yield(:head)
    = render(:partial => "shared/tracking.html.haml") if Rails.env.production?
    = render(:partial => "layouts/javascripts.html.haml")
    = render(:partial => "layouts/css.html.haml")
  %body
    - if admin?
      - if current_user.show_scoreboard?
        #top-curators
      = render(:partial => "shared/create_popup.html.haml") if @new_annotation
      = render(:partial => "shared/right_click_menus.html.haml")
    #header
      = render(:partial => "shared/header.html.haml")
    #content
      .grid-container.main.rounded
        #loading
          = image_tag('layout/loading.gif', :alt => "Loading...")
        .grid-container
          .grid_4.alpha
            #nav
              = render(:partial => "shared/navigation.html.haml")
          .grid_20.omega
            #flash-messages
              = raw(flash_messages)
            = yield
        .clear
      .clear
    #footer
      = render(:partial => "shared/footer.html.haml")
    %iframe{ :src => "about:blank", :style => "height:0px;width:0px;visibility:hidden" }
      this frame prevents back forward cache
